<h4><a href="/all_users">View all users</a></h4>
<h2>New Users</h2>
<% include ../partials/messages %>
      <form action="/all_users" method="POST">
        <% include ../partials/inputForm %>
        <a href="/all_users">Cancel</a>
        <button type="submit" class="btn btn-primary btn-block">
          Create
        </button>
      </form>

      <script>
        function myFunction() {
          var x = document.getElementById("password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
          var y = document.getElementById("password2");
          if (y.type === "password") {
            y.type = "text";
          } else {
            y.type = "password";
          }
        }
        </script>